@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Poppins';
}

/*   HEADER    */

.header {
    min-width: 1200px;
    width: 100%;
    height: 70px;
    background-color: #212344;
}

.header img {
    margin: 20px;
}

.center {
    width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.container-banner {
    width: 100%;
    height: 557px;
    background-image: url('../image/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner>.center {
    height: 100%;
    text-align: right;
}

.form {
    width: 400px;
    height: calc(100% + 30px);
    display: inline-block;
    position: relative;
    top: -15px;
    border-color: rgba(120, 120, 120, 0.5);
    border-style: solid;
    border-width: 12px;
    background-color: #fff;
    background-clip: padding-box;
}

.form h2 {
    font-weight: 500;
    color: #999;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.input-container {
    margin: 15px;
}

.input-container input {
    display: inline-block;
    margin-top: 25px;
    width: 100%;
    font-size: 17px;
    color: #bbb;
    padding: 10px;
    border: 2px solid #999;
}

input:focus {
    outline: none;
}

.text-container {
    font-size: 18px;
    color: #999;
    text-align: justify;
    margin: 20px;
}

.text-container span {
    color: #ff5555;
}

.input-container input[type="submit"] {
    width: 100%;
    height: auto;
    padding: 15px;
    font-size: 18px;
    background-color: #4a5097;
    cursor: pointer;
    border: none;
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #323665;
}

.container-list {
    margin-top: 100px;
    float: left;
    width: 625px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
    padding: 40px;
    text-align: justify;
}

.container-list ul {
    list-style-position: inside;
}

.container-list ul li {
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
}

/*   CONTENT   */

.container-content {
    min-width: 1200px;
    padding: 40px 0;
    background-color: #ddd;
    text-align: center;
}

.container-content h2 {
    font-weight: 500;
}

.container-content p {
    width: 50%;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;
}

.arrow {
    position: relative;
    margin-left: -20px;
    left: 50%;
    top: 70px;
    width: 60px;
    height: 60px;
    background-image: url('../image/arrow.png');
    background-size: 100% 100%;
}

.section {
    min-width: 1200px;
    padding: 90px 0;
}

.section h2 {
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-section {
    margin-top: 40px;
    text-align: center;
}

.container-single {
    float: left;
    width: 33.3%;
    padding: 30px;
}

.container-single p {
    text-align: justify;
    padding: 10px 25px;
}

.container-single img {
    width: 15%;
}

/*   FOOTER   */

.footer {
    clear: both;
    padding: 60px 0;
    border-bottom: 4px solid #888;
}

.container-footer {
    text-align: center;
    color: #888;
}

.container-footer p {
    margin: 15px;
    font-size: 18px;
}